body{
   /* background-color: lavender;
    background-image: url(https://album.mediaset.es/cimg/2017/02/03/Belen_Esteban.jpg);
    background-size: contain;
    background-repeat: no-repeat; */
    background-color: lavender;
    text-align: center;
    color: darkslateblue;
    font-size: larger;
    font-weight: 400;
}
h2{
    background-color: rgb(240, 203, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
#daDes_personals{
    background-color: rgb(228, 188, 255);
    text-align: left;
}
#dades_academiqes
bac
}
.fondo_oscuro{
    background-color: beige;
}