body{
   /* background-color: lavender;
    background-image: url(https://album.mediaset.es/cimg/2017/02/03/Belen_Esteban.jpg);
    background-size: contain;
    background-repeat: no-repeat; */
    background-color: rgb(225, 252, 210);
    text-align: center;
    color: rgb(104, 151, 116);
    font-size: larger;
    font-weight: 400;
}
h2{
    background-color: #cffdb1;
  font-family: "Balthazar", serif;

    
}
#daDes_personals{
    background-color: rgb(207, 255, 185);
    text-align: center;
}
#dades_academiqes


.fondo_oscuro{
    background-color: rgb(227, 255, 190);
}
#experiencia¨{

}